.body {
  padding: 15px 15px;
}
.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}
img {
  display: block;

  width: 640px;
  max-height: 420px;
}
.info {
  display: flex;
  justify-content: space-between;
}
.info-item {
  display: inline;
}
.is-hidden {
  visibility: hidden;
}

.is-hidden-wind {
  opacity: 1;
  pointer-events: initial;
}
