:root {
  --page-bg-color: #f5e1a1;
  --primary-text-color: #212121;
  --card-set-gap: 15px;
}

.body {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0 15px;
  max-width: 1600px;
  background-color: var(--page-bg-color);
  color: var(--primary-text-color);
  line-height: 1.5;
}
.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin-left: -15px;
  margin-top: -15px;
}

.photo-card {
  flex-basis: calc(100% / 4 - 15px);
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
/* .img-card {
  height: 390px;
} */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.info {
  display: flex;
  justify-content: space-around;
}
.info-item {
  display: flex;
  flex-direction: column;
}
/*  modal-window*/

.is-hidden {
  visibility: hidden;
}
.hidden {
  opacity: 0;
}
.is-open {
  opacity: 1;
  position: fixed;
  top: 15px;
  left: 10%;
  right: 10%;
  pointer-events: initial;
  width: 80vw;
  height: 90vh;
  background-color: transparent;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.modal {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 20px;
}
.load-more-btn {
  display: flex;
  justify-content: center;
}
.load-more {
  width: 120px;
  height: 40px;
  color: bisque;
  background-color: dodgerblue;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border-radius: 100%;
  filter: invert(100%);
}
.icon-close {
  color: red;
}
.modal-content {
  width: auto;
  height: auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
